#pane{
    -fx-background-image: url("../images/backgroundPattern.png");
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-color: rgba(81, 43, 238, 0.4);;

}

#plateau .button{
    -fx-border-color:rgba(0,0,0,0.6);
    -fx-border-width: 1 ;

}

#plateau .label{
    -fx-opacity: .8;
}

#plateau .button:hover{
/*    -fx-opacity: .6;*/
    -fx-cursor: hand;
    -fx-border-width: 3px;
    -fx-border-color: #8bffff;
}

#SideBar{
    -fx-background-color: rgba(81, 43, 238, 0.60);
}

#userDataBox , #dicesBox {
    -fx-border-width: 3px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 20px;
    -fx-font-weight: 600;
}

#CupIcon{
    -fx-background-color: White;
    -size : 30 ;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M34.8753 1.12501H29.8021C29.808 0.843684 29.8126 0.564101 29.8126 0.281325C29.8126 0.126001 29.6866 0 29.5313 0H6.46873C6.31341 0 6.18741 0.126001 6.18741 0.281325C6.18741 0.564392 6.19263 0.843975 6.19728 1.12501H1.12501C0.504004 1.12501 0 1.62611 0 2.24537C0 9.80863 4.65826 16.6426 11.6127 19.3324C13.0742 21.1211 14.9059 22.3118 16.5932 22.7208V28.6786C16.5932 31.1603 14.5746 33.1786 12.0932 33.1786C11.9379 33.1786 11.8119 33.3049 11.8119 33.4599V35.71C11.8119 35.8659 11.9385 36 12.0938 36H23.9065C24.0618 36 24.1873 35.8659 24.1873 35.71V33.4599C24.1873 33.3049 24.0613 33.1786 23.9059 33.1786C21.4245 33.1786 19.4059 31.1603 19.4059 28.6786V22.7211C21.3746 22.3121 22.9261 21.1191 24.3876 19.3316C31.342 16.6408 36 9.80747 36 2.24537C36 1.62611 35.4954 1.12501 34.8753 1.12501ZM2.28805 3.37503H6.29715C6.62725 8.15639 7.69768 12.2813 9.2872 15.5971C5.20814 12.8382 2.62802 8.43742 2.28805 3.37503ZM22.11 11.0437L20.7365 12.3893L21.0677 14.2846C21.1508 14.7645 21.0192 15.0412 20.8947 15.1898C20.643 15.4885 20.1892 15.5292 19.7081 15.2778L18.003 14.3879L16.3035 15.2876C16.0878 15.4032 15.8816 15.4604 15.6915 15.4604C15.4586 15.4604 15.2537 15.3701 15.1143 15.2055C14.9895 15.0571 14.858 14.7802 14.9387 14.3026L15.2586 12.4062L13.8886 11.0286C13.8845 11.0254 13.8314 10.9693 13.8276 10.9693H13.827C13.8264 10.9693 13.8511 11.0175 13.8505 11.0164L13.8598 11.0384C13.856 11.035 13.8578 11.0431 13.8543 11.0396L13.8241 11.0126C13.8154 11.0039 13.8081 10.9978 13.8006 10.9879C13.422 10.5748 13.4603 10.2311 13.5181 10.0586C13.5791 9.8754 13.7748 9.55604 14.3926 9.46401L16.2945 9.18211L17.1411 7.45583C17.4195 6.88767 17.7885 6.80318 17.9836 6.80318C18.1781 6.80318 18.5457 6.88767 18.8255 7.45032L19.6814 9.17311L21.5854 9.44485C22.2093 9.53282 22.4044 9.85653 22.4653 10.0415C22.5254 10.2261 22.56 10.6021 22.11 11.0437ZM26.7142 15.5965C28.3029 12.2807 29.3733 8.15639 29.7034 3.37503H33.7119C33.3717 8.43742 30.7922 12.8379 26.7142 15.5965Z";
}
#UserIcon{
    -fx-background-color: White;
    -size : 30 ;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M18 20C23.5228 20 28 15.5228 28 10C28 4.47715 23.5228 0 18 0C12.4772 0 8 4.47715 8 10C8 15.5228 12.4772 20 18 20Z M18 20C8.05887 20 0 27.6112 0 37H36C36 27.6112 27.9411 20 18 20Z";
}
.white-text{
    -fx-font-family: "Montserrat" ;
    -fx-font-size: 28;
    -fx-fill: white;

}

#throwButton{
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 16;
    -fx-text-fill:#512BEE ;
    -fx-padding: 4,4;
    -fx-font-size: 26;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0 , 0.25), 10, 0.25, 8, 4);
}

#dicesBox{
    -fx-padding: 18,4;
}
#throwButton:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0 , 0.27), 10, 0.5, 10, 6);
    -fx-cursor: hand;
}




.bonusCase{
    -fx-background-color: #a0eea0;
    -fx-opacity: 1;
}

.malusCase{
    -fx-background-color: #ea9898;
    -fx-opacity: 1;
}

.questionDefCase{
    -fx-background-color: #95c5ea;
    -fx-opacity: 1;
}

.questionImgCase{
    -fx-background-color: #f1a4dd;
    -fx-opacity: 1;
}

.sautCase{
    -fx-background-color: #f1b7a0;
    -fx-opacity: 1;
}

.parcourCase{


}

.departCase{
    -fx-background-color: #efeda7;
    -fx-opacity: 1;
}

.finCase{
    -fx-background-color: #6e6d6d;
    -fx-opacity: 1;
}





